Checks: "clang-diagnostic-*,\
clang-analyzer-*,\
cppcoreguidelines-*,\
google-*,\
modernize-*,\
misc-*,\
readability-*,\
performance-*,\
portability-*,\
-modernize-use-trailing-return-type\
"
HeaderFilterRegex: '**/Source/*\.(hpp|h)'
